APPLICATION__NAME=MobileERP
APPLICATION__VERSION=0.1.0
APPLICATION__ENVIRONMENT=development
APPLICATION__DEBUG=true

DATABASE__URL=
DATABASE__ECHO=false

SECURITY__SECRET_KEY=
SECURITY__ALGORITHM=HS256
SECURITY__ACCESS_TOKEN_EXPIRE_MINUTES=30

API__PREFIX=/api/v1